In [22]:
import pandas as pd
import os
import json

In [27]:
#utiliser le json 
with open('../parameters.json') as json_data:
    params = json.load(json_data)

In [31]:
params

{'DIRECTORIES': {'DATA_DIR': '../../Data', 'TMP_DIR': '../../tmp'}}

In [30]:
### Répertoire de données, les constantes on les met en majuscule

DATA_DIR = params['DIRECTORIES']['DATA_DIR']
TMP_DIR = params['DIRECTORIES']['TMP_DIR']

In [3]:
### Lire les données 
### list des fichiers qui continennent les prix
gas_files = ['Prix2014.zip', 'Prix2015.zip', 'Prix2016.zip']
stations_file = 'Stations2016.zip'
services_file ='Services2016.zip'

In [18]:
### Ouvrir un des fichiers 
df2014 = pd.read_csv(os.path.join(DATA_DIR,gas_files[0]), sep=';', header=None, dtype ={1:str})

In [19]:
#### check les données 
df2014.columns = ['id_station', 'code_postal', 'type_station', 'latitude', 'longitude', 
                  'date_releve', 'type_carburant', 'libele_carburant','prix']

In [21]:
df2014.head()

,id_station,code_postal,type_station,latitude,longitude,date_releve,type_carburant,libele_carburant,prix
0,1000001,01000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,01000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,01000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,01000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,01000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0